<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@Html.Raw(ViewBag.Title.Replace("&mdash;", "—"))</title>
    <meta name="description" content="@Html.Raw(ViewBag.Desc.Replace("&mdash;", "—"))">
    <meta name="robots" content="@Html.Raw(ViewBag.Robots.Replace("&mdash;", "—"))" />
    <link rel="canonical" href="@Html.Raw(ViewBag.Canonical.Replace("&mdash;", "—"))" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title.Replace("&mdash;", "—"))" />
    <meta property="og:description" content="@Html.Raw(ViewBag.Desc.Replace("&mdash;", "—"))" />
    <meta property="og:url" content="@Html.Raw(ViewBag.Canonical.Replace("&mdash;", "—"))" />


    <meta property="og:phone_number" content="+17863325934" />
    <meta property="og:locality" content="Miami" />
    <meta property="og:country-name" content="USA" />
    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/owlcarousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/miami_styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" media="all">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110143623-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-110143623-1');
    </script>
    <script src="~/js/wp-emoji-release.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/js/theme-ajax.js"></script>
</head>
<body class="page innerbg">
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-4">
                    <div class="logo">
                        <a href="/">
                            <img src="~/images/logo.png" alt="Miami Belle Escorts" title="Miami Belle Escorts" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-8">
                    <div class="header-bar">
                        <div class="header-phone">
                            <a href="tel:+17863325934">+1 (786) 332-5934</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="menu-icon clearfix" style="display: none;"><span></span></div>
                    <div class="clearfix"></div>
                    <nav class="header-nav clearfix flexmenu fm-toggle fm-lg">
                        <ul id="menu-main_menu" class="menu">
                            <li class="menu-item current-menu-item current_page_item"><a href="/">Home</a></li>
                            <li class="menu-item">
                                <a href="#">Escorts</a>
                                <ul>
                                    <li><a href="latina.php">Latina</a></li>
                                    <li><a href="asian.php">Asian</a></li>
                                    <li><a href="ebony.php">Ebony</a></li>
                                    <li><a href="cheap.php">Cheap</a></li>
                                    <li><a href="busty.php">Busty</a></li>
                                    <li><a href="russian.php">Russian</a></li>
                                    <li><a href="vip.php">VIP</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">We Cover</a>
                                <ul>
                                    <li><a href="gardens.php">Gardens</a></li>
                                    <li><a href="south-beach.php">South Beach</a></li>
                                    <li><a href="airport.php">Airport</a></li>
                                    <li><a href="north.php">North</a></li>
                                    <li><a href="lakes.php">Lakes</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="massage.php">Massage</a></li>
                            <li class="menu-item"><a href="gfe.php">GFE</a></li>
                            <li class="menu-item"><a href="about.php">About</a></li>
                            <li class="menu-item"><a href="booking.php">Booking</a></li>
                            <li class="menu-item"><a href="contact.php">Contact</a></li>
                            <li class="menu-item"><a href="hiring.php">Hiring</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="content" class="site-content">




            @RenderBody()




            <footer id="siteFooter">
                <div class="container">
                    <div class="footer-mail">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:info@miamibeleescorts.com">info@miamibeleescorts.com</a>
                    </div>
                    <div class="footer-no">
                        <i class="fa fa-phone"></i>
                        <a href="tel:+17863325934">(786) 332-5934</a>
                    </div>
                    <div class="footer-address">
                        <i class="fa fa-map-marker"></i>
                        Miami, FL, USA
                    </div>
                </div>
            </footer>
            <script type="text/javascript" src="~/js/jquery.form.min.js"></script>
            <script type="text/javascript" src="~/js/scripts.js"></script>
            <script type="text/javascript" src="~/js/navigation.js"></script>
            <script type="text/javascript" src="~/js/skip-link-focus-fix.js"></script>
            <script type="text/javascript" src="~/js/bootstrap.js"></script>
            <script type="text/javascript" src="~/js/syncheight.js"></script>
            <script type="text/javascript" src="~/js/owlcarousel.js"></script>
            <script type="text/javascript" src="~/js/functions.js"></script>
            <script type="text/javascript" src="~/js/jquery.bxslider.js"></script>
            <script type="text/javascript" src="~/js/jQuery.Flexmenu.js"></script>
            <script type="text/javascript" src="~/js/readmore.js"></script>
            <script type="text/javascript" src="~/js/wp-embed.min.js"></script>
            <script type="text/javascript" src="~/js/sitepress.js"></script>
            <script src="~/js/jey2fwp.js"></script>
            <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
            <!--[if IE9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
    </div>
</body>
</html>
