@if (!string.IsNullOrEmpty(Model.file_name1))
{
    <li>
        <a data-slide-index="0" href="">
            <img src="@Model.file_name1" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>

}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name2))
{
    <li>
        <a data-slide-index="1" class="">
            <img src="@Model.file_name2" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    

}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name3))
{
    <li>
        <a data-slide-index="2" class="">
            <img src="@Model.file_name3" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name4))
{
    <li>
        <a data-slide-index="3" class="">
            <img src="@Model.file_name4" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name5))
{
    <li>
        <a data-slide-index="4" class="">
            <img src="@Model.file_name5" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name6))
{
    <li>
        <a data-slide-index="5" class="">
            <img src="@Model.file_name6" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>

    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name7))
{
    <li>
        <a data-slide-index="6" class="">
            <img src="@Model.file_name7" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name8))
{
    <li>
        <a data-slide-index="7" class="">
            <img src="@Model.file_name8" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name9))
{
    <li>
        <a data-slide-index="8" class="">
            <img src="@Model.file_name9" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name10))
{
    <li>
        <a data-slide-index="9" class="">
            <img src="@Model.file_name10" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}
@if (!string.IsNullOrEmpty(Model.file_name11))
{
    <li>
        <a data-slide-index="10" class="">
            <img src="@Model.file_name11" alt="@Model.escortname" title="@Model.escortname" width="170" />
        </a>
    </li>
    
}
else
{
}



