
<main class="">
    <section class="">
        <div class="container">
            <div class="text_container">
                <div class="">
                    <h1 class="heading text-center">Browse through huge directory of our escorts</h1>
                </div>
            </div>
            <div class="row hostess-schedule-box">
                @* 41 *@
                @foreach (var escort in Model)
                {
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div class="hostess-box" style="min-height: 505px;">
                            <a href="@Html.Raw(escort.rate2 + ".php")"><img src="~/@Html.Raw(escort.file_name1)" alt="@escort.escortname" title="@escort.escortname"></a>
                            <a href="@Html.Raw(escort.rate2 + ".php")" class="hostess-info-link">
                                <div class="hostess-info">
                                    <p>@escort.escortname</p>
                                </div>
                            </a>
                        </div>
                    </div>

                }
            </div>
            <div class="text_container">
                <h2>Why you must hire an escort now to make your life better</h2>
                <p class="text-justify">People say that only women are having the powers to satisfy the desires of men, but if you want real satisfaction then hire the professionals who know how to please a man. Not every woman on this planet possess the erotic skills. But if you are opting for escort service in Miami from our agency, then you can get such escorts who are especially trained for this purpose only. They are going to show you damn amazing moves that will stun your senses.</p>
                <p class="text-justify">At Miami Belle Escorts, you are going to experience pleasures that you only imagined in dreams. We are the only agency in Miami to offer such exotic girls hired from different countries. All our girls are exclusive and their services are just like them, simply the best.</p>
                <p class="text-justify">If you have hidden desires or any special fetish then make sure that you are hiring only from us, and we are going to make sure that you are never sad in your life. A monotonous life is not worthy of living, and even if you are rich, money won’t satisfy you.</p>
                <p class="text-justify">Hence, hiring Miami escorts is the best idea for you. You might think that since there are many escort providers in Miami why you should hire from us, well to get the answers you must try our services once. We are pretty sure that once you have hired from us you will definitely not go anywhere else.</p>
                <p class="text-justify">The decision is all yours, if you want to enjoy then call us on the given numbers and within no time we are going to reach your place with your selected escort girl. If you are planning a bachelor’s party where you have invited your friends and want to hire an escort in Miami, then also we can arrange that for you.</p>
                <p class="text-justify">Our girls love to entertain more than a single men at the same time. We have special escort girls who are experts in bachelor’s parties. They know how to entertain every single guest without diverting their attention.</p>
                <p class="text-justify">We have a rich history of being the best and we never want to destroy it. We always work hard to ensure that clients are happy with us. We have the largest collection of girls working for us and all of them are really happy to work with our agency. We always care about our escorts and our clients too.</p>
                <p class="text-justify">A happy client means a lot to us and to make a client happy, we need happy escorts. We get tons of applications from girls every single day but only few make it till the final round. We have a very strict recruiting policy and this is the only reason we have the best escorts working with us. Our Miami escorts are the best and they are going to make you feel damn amazing too.</p>
                <p class="text-justify">Don’t waste your time anymore and call us now, or you can email us your requirements. Its always a good idea to hire escorts in advance so that we can arrange properly. Sometimes our escort girls are overbooked, but then also we arrange things smoothly.</p>
            </div>
        </div>
    </section>
</main>